*{
    font-family:sans-serif;
    margin: 0;
    padding: 0;
}

.Inventory-Summary-Card{
    display: inline-block;
    width: 390px;
    height: 314px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    overflow-y: auto;
    overflow-x: hidden;
}
::-webkit-scrollbar{
    display: none;
}
#Heading1{
    text-align: left;
    margin: 2%;
    font-size: 1rem;
    font-weight: 500;
    opacity: 90%;
}

#Heading2{
    text-align: left;
    margin: 2%;
    font-size: 1rem;
    font-weight: 500;
    opacity: 90%;
}

#header-line{
    margin-top: 5px;
}

.total-Items-in-Categories{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 2%;
    width: 100%;
}
#New-Categories-added{
    background-color: rgb(177, 245, 177);
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    opacity: 70%;
    font-size: 0.8rem;
}
#titems{
    color: rgb(84, 67, 233);
    opacity: 70%;
    font-size: 1.5rem;
}

#iconcategory{
    margin-left: auto;
    margin-right: 20px;
    background-color: rgb(213, 246, 211);
    border-radius: 100%;
    padding: 5px;
}

#iconimg{
    height: 25px;
}

.updated-time{
    margin: 2%;
    font-size: 0.8rem;
    opacity: 70%;
}
.status-row{
    display: flex;
    margin: 2%;
    margin-bottom: 4%;


}
#veggies-and-fruits{
    margin-left: auto;
}

#low-Stock{
    margin-left: auto;
}

#out-Stock{
    margin-left: auto;
}

.progress-bar{
    padding-bottom: 0.05%;
}

#bar-cont-green{
    margin: 2%;
    border-radius: 20px;
    height: 0.4rem;
    background-color: rgb(207, 248, 207);
    opacity: 80%;
    overflow: hidden;
}

#bar-cont-orange{
    margin: 2%;
    border-radius: 20px;
    height: 0.4rem;
    background-color: rgb(252, 241, 204);
    opacity: 80%;
    overflow: hidden;
}

#bar-cont-red{
    margin: 2%;
    border-radius: 20px;
    height: 0.4rem;
    background-color: rgb(254, 220, 215);
    opacity: 80%;
    overflow: hidden;
}

#bar-green{
    background-color: rgb(41, 255, 41);
    height: 100%;
    transition: width 0.3s ease;
    border-radius: 20px;
}

#bar-orange{
    background-color: rgb(250, 185, 54);
    height: 100%;
    transition: width 0.3s ease;
    border-radius: 20px;
}

#bar-red{
    background-color: rgb(224, 68, 68);
    height: 100%;
    transition: width 0.3s ease;
    border-radius: 20px;
}

.progress-bar{
    margin-bottom: 4%;
    margin-top: 3.5%;
}

#category-label{
    font-size: 0.95rem;
}
.card-info{
    padding-bottom: 5px;
}