@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
*{
    font-family: "Lexend";
}
#dashboard{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
#navMenu{
    display: flex;
    flex-direction: row;
    gap: 100px;
    width: 100%;
    margin: 10px 0px;
    justify-content: center;
}
#inventoryOption, #statisticsOption{
    border-radius: 20px;
    padding: 15px 8px;
    background-color: blueviolet;       /*Add picked colour*/
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
}
#inventoryOption:hover, #statisticsOption:hover{
    background-color: rgb(101, 33, 165);
}
#content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(248, 247, 248);
}
#tab-content{
    
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

#left{
    display: flex;
    flex-direction: column;
}
#right{
    display: flex;
    flex-direction: column;
}
#inventory,#categoryRevenue,#inventoryTrends{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#inventory{
    background-color: white;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    height: fit-content;
    width: max-content;
    padding: 5px;
}

#overviewAnalytics{
    width: 100%;
}
