*{
  font-family:sans-serif;
}
.main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  padding: 0;
  background: none;
  box-shadow: none;
  border-radius: 0;
}


#invHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1%;
}
#invTitle{
  font-size: 1.3rem;
  font-weight: 500;
}
#invHeader #right{
  display: flex;
  flex-direction: row;
  align-items: center;
}
#search input{
  border-radius: 8px;
  outline: none;
  border: 1px solid black;
  border: none;
  outline: none;
  font-size: 17px;
  padding: 7px 16px;
  background-color: transparent;
  flex: 1;
}
#addNewItem, #prev, #next {
  background-color: #8a2be2;
  color: white;
  cursor: pointer;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 30px;
  border-radius: 3px;
}
#addNewItem:hover, #prev:hover, #next:hover {
  background-color: #7a14da;
}
#btn-ft {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#prev, #next {
  border: none;
  background-color: blueviolet;
  color: white;
  width: 100px;
  font-weight: 600;
  padding: 12px 10px;
  cursor: pointer;
  border-radius: 5px;
}

#prev:disabled, #next:disabled {
  background-color: rgb(73, 2, 138);
}

table.inventory_table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
  overflow: hidden;
  margin-top: 1%;
}

.inventory_table thead th {
  position: sticky;
  top: 0;
  z-index: 1;
}


th, td {
  padding: 10px 12px;
  border-bottom: 1px solid #ddd;
  text-align:center;
  background-color: white;
}


th{
    color: white;
    padding: 15px;
    z-index: 1;
    background-color: blueviolet;
    position: sticky;
    top: 0;
}

tr:hover {
  background-color: #f1f1f1;
}

#left{
    display: flex;
    flex-direction: column;
}
#right{
    display: flex;
    flex-direction: column;
}

div#search-cont {
    box-sizing: border-box;
    position: relative;
    border: 1px solid #5D52CE;
    border-radius: 3px;
    width: 45%;
    height: 30px;
    background-color: white;
    display: flex;
    align-items: center;
    padding-left: 20px;
    right: 5%;
    margin-left: auto;
    transition: all 0.5s ease;
}

div#search-cont:focus-within {
    width: 55%;
    transition: all 0.5s ease;
    box-shadow: 0 0 5px 3px rgba(93, 82, 206, 0.5);
}

#search-icon {
    position: absolute;
    top: 50%;
    left: 7%;
    transform: translateY(-50%);
    color: #666;
    font-size: 15px;
    pointer-events: none;
}

span#sort-table {
  margin-left: 8px;
}

span#asce, span#desc {
  margin-right: 4px;
}
