.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
}
.container{
  max-height: 400px; 
  overflow-y: auto;
  width: 100%;
}
table {
  width: 80%;
  border-collapse: separate;
  border-spacing: 0;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-radius: 5px;
}

th, td {
  padding: 10px 12px;
  border-bottom: 1px solid #ddd;
  text-align:center;
}


th{
    color: white;
    padding:15px;
    z-index: 1;
    background-color:#6D61F2;
    position: sticky;
    top: 0;
}

tr:hover {
  background-color: #f1f1f1;
}

