.main{
    display: flex;
    flex-direction: column;
}
.container{
  max-height: 400px;
  overflow-y: scroll;
  
}
#invHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
#invTitle{
  font-weight: 700;
}
#right{
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
#addNewItem{
  background-color: blueviolet;
  color: white;
  font-weight: 600;
  padding: 12px 6px;
  border-radius: 20px;
}

hr{
  margin-bottom: 5px;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-radius: 5px;
}

th, td {
  padding: 10px 12px;
  border-bottom: 1px solid #ddd;
  text-align:center;
  background-color: white;
}


th{
    color: white;
    padding: 15px;
    z-index: 1;
    background-color: blueviolet;
    position: sticky;
    top: 0;
}

tr:hover {
  background-color: #f1f1f1;
}

