*{
  font-family:sans-serif;
}
#loginPage{
  height: 100vh;
  background-color:#EEEDFF; 
  overflow: hidden;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#login_cont{
    background-color: white;
    width:350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
#welcome_back{
  font-weight: 800;
  color: #1a173a;
  margin-bottom: 25px;
  font-size: 20px;
}
#input_form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
#email, #password{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#email label,#password label {
  font-weight: bold;
  color: #1a173a;
}
#email input,#password input {
  box-sizing: border-box;
  width: 275px;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  outline: none;
  transition: all 0.1s ease;
}
#email input:hover,#password input:hover{
  border-color: #5D52CE;
}
#email input:focus,#password input:focus{
  border-color: #5D52CE;
}
#email input.error, #password input.error {
  border-color: red;
}

.error_email, .error_password {
  opacity: 0;
  font-size: 12px;
}

.error_email.active, .error_password.active {
  opacity: 1;
  color: red;
}


.submit_btn {
  box-sizing: border-box;
  margin-top: 10px;
  width: 275px;
  padding: 15px;
  background-color:#5D52CE;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: 600;
}

.submit_btn:hover{
  background-color: #38327d;
  font-weight: 800;
}

.submit_btn.loading {
  background-color: #525252;
  cursor: not-allowed;
  font-weight: 400;
}

#forgot_pwd{
  font-size: 12px;
  margin-top: 5px;
  align-self: flex-end;
  color: #38327d;
}

#forgot_pwd:hover{
  cursor: pointer;
  color: #1a173a;
}

.serverError.active{
  background-color: #c33232;
  color: white;
  margin-top: 3%;
  padding: 2%;
  border-radius: 10px;
}