.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
table {
  width: 80%;
  border-collapse: separate;
  border-spacing: 0;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
}


th, td {
  padding: 10px 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

th{
    color: white;
    padding:15px;
}

thead {
  background-color:#6D61F2;
}
