@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
*{
  font-family: "Lexend";
}

#loginPage{
  height: 100vh;
  background-color:#EEEDFF; 
  overflow: hidden;
  display:flex;
  justify-content: center;
  align-items: center;
}
#login_cont{
    background-color: white;
    width:350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
#welcome_back{
  font-weight: 800;
  color: #1a173a;
  margin-bottom: 20px;
  font-size: 20px;
}
#input_form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
#username, #password{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#username label,#password label {
  font-weight: bold;
  color: #1a173a;
}
#username input,#password input {
  box-sizing: border-box;
  width: 275px;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  outline: none;
  transition: all 0.1s ease;
}
#username input:hover,#password input:hover{
  border-color: #5D52CE;
}
#username input:hover,#password input:focus{
  border-color: #5D52CE;
}
#submit_btn {
  box-sizing: border-box;
  margin-top: 20px;
  width: 275px;
  padding: 15px;
  background-color:#5D52CE;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#submit_btn:hover{
  background-color: #38327d;
  font-weight: 600;
}

#forgot_pwd{
  font-size: 12px;
  margin-top: 5px;
  align-self: flex-end;
  color: #38327d;
}

#forgot_pwd:hover{
  cursor: pointer;
  color: #1a173a;
}